@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: linear-gradient(to right, #fbdada, #f1aeae);
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container .boxcontainer{
    width: 700px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255),
                5px 5px 15px rgb(0, 0, 0, 0.5);
    background-image: radial-gradient(circle farthest-corner at center, #ffe0e0 0%, #ffd3d3 100%);
}
.container .image{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    animation: flag 2s forwards;
    opacity: 0;
    visibility: hidden;
    animation-delay: 2s;
    z-index: 1;
    transition: all 1s;
}
@keyframes flag{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.container .image > img{
    width: 750px;
}


.container .text-happyiwd{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateY(-250px);
    animation: texthappy 3s forwards;
    animation-delay: 3s;
    transition: 1s ease-in-out;
}
@keyframes texthappy{
    0%{
        transform: translateY(-250px);
    }
    40%{
        transform: translateY(60px);
    }
    50%{
        transform: translateY(65px);
    }
    55%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(50px);
    }
    70%{
        transform: translateY(20px);
    }
    80%, 90%, 100%{
        transform: translateY(40px);
    }
}
.container .text-happyiwd::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 200px;
    background: #333;
    top: -25%;
    z-index: -1;
}
.container .text-happyiwd img{
    width: 300px;
    transform: translateX(-50%);
}


.container .box-firework{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container .box-firework .firework{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    animation: firework 2s forwards;
    animation-delay: 5s;
    transform: translate(30px, 300px);
}
.container .box-firework .firework > img{
    width: 100px;
}
@keyframes firework{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
.container .box-firework .firework #firework1{
    position: absolute;
    width: 20px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50px, 35px);
    animation: firework1 2s linear infinite;
    animation-delay: 6s;
    transition: all 1s ease-in-out;
}
@keyframes firework1{
    0%{
        opacity: 1;
        visibility: visible;
        transform: translate(-50px, 35px);
        width: 20px;
    }
    100%{
        opacity: 1;
        visibility: visible;
        width: 150px;
        transform: translate(-70px, -70px);
    }
}
.container .box-firework .firework:last-child{
    transform: scaleX(-1);
    top: 300px;
    right: 30px;
}
.container .spark{
    position: absolute;
}
span{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
    animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut{
    0%,100%{
        opacity: 0;
    }
    20%, 80%{
        opacity: 1;
    }
}


.container .mail{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    animation: envelope 1s linear infinite;
    animation-delay: 9s;
    z-index: 100000000;
    transition: all 1s ease-in-out;
}
.container .mail .fa-envelope{
    position: absolute;
    margin-top: 50px;
    font-size: 40px;
    color: red;
    cursor: pointer;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes envelope{
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }

}
.container .mail .fa-envelope:hover{
    filter: drop-shadow(0 0 10px red);
    animation: mail1 0.3s linear infinite ease-in-out;
}
@keyframes mail1{
    0%{
        transform: rotate(-10deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
.container .mail .fa-envelope::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 45px;
    background: white;
    z-index: -1;
    border-radius: 10px;
}


.container .boxcute{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container .cute1{
    position: absolute;
    top: 150px;
    left: -100px;
    animation: cute 3s infinite ease-in-out;
    animation-delay: 11s;
}
@keyframes cute{
    0%{
        transform: translateX(0px) rotateZ(0deg) scale(0.7);
    }
    50%,60%, 70%,80%,90%,95%{
        transform: translateX(70px) rotateZ(45deg) scale(1.3);
    }
    100%{
        transform: translateX(10px) rotateZ(0deg) scale(0.3);
    }
}
.container .cute1::after{
    position: absolute;
    content: 'Olaaaaa';
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    width: 80px;
    font-size: 10px;
    background: white;
    border-radius: 15px;
    margin-top: -30px;
    margin-left: -40px;
    animation: cutemail 3s linear infinite;
    animation-delay: 11s;
    z-index: -1;
    opacity: 0;
    font-weight: 600;
}
@keyframes cutemail{
    0%{
        opacity: 1;
        transform: translate(-60px, 40px) scale(0.1);
    }
    50%, 60%, 70%, 80%, 90%, 95%, 99%{
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100%{
        opacity: 1;
        transform: translate(-60px, 40px) scale(0.1);
    }
}
.container .cute2{
    position: absolute;
    top: 150px;
    right: -100px;
    transform: scaleX(-1);
    animation: cute2 3s infinite ease-in-out;
    animation-delay: 11s;
}
@keyframes cute2{
    0%{
        transform: translateX(0px) rotateZ(0deg) scale(0.7);
    }
    50%,60%, 70%,80%,90%,95%{
        transform: translateX(-70px) rotateZ(-45deg) scale(1.3);
    }
    100%{
        transform: translateX(-10px) rotateZ(0deg) scale(0.3);
    }
}
.container .cute2::after{
    position: absolute;
    content: '"Hộp thư"';
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    width: 80px;
    font-size: 10px;
    background: white;
    border-radius: 15px;
    margin-top: -30px;
    margin-left: -100px;
    animation: cutemail2 3s linear infinite;
    animation-delay: 11s;
    z-index: -1;
    opacity: 0;
    font-weight: 600;
}
@keyframes cutemail2{
    0%{
        opacity: 1;
        transform: translate(-10px, 70px) scale(0.1);
    }
    50%, 60%, 70%, 80%, 90%, 95%, 99%{
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100%{
        opacity: 1;
        transform: translate(-10px, 70px) scale(0.1);
    }
}
.container .cute1 img{
    width: 100px;
    height: 100px;
}
.container .cute2 img{
    width: 100px;
    height: 100px;
}


.boxMail{
    position: fixed;
    background: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.3);
    visibility: hidden;
    z-index: 100000000;
}
.boxMail.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.boxMail .boxMail-container{
    position: absolute;
    width: 750px;
    height: 500px;
    display: flex;
    margin: 0;
    transform: scale(0.9);
    -webkit-perspective: 2000px;
    perspective: 2000px;
}
.boxMail .boxMail-container:hover{
    transform: rotate(-5deg);
    filter: drop-shadow(0 0 10px red);
}
.boxMail .boxMail-container:hover .card1{
    transform: translate(-187px, -250px) rotateY(-140deg);
}
.boxMail .boxMail-container .card1,
.boxMail .boxMail-container .card2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
.boxMail .boxMail-container .card1{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(169, 0, 0), rgb(202, 0, 0) 30%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxMail-container .card1{
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s ease-in-out;
}
.boxMail .boxMail-container .card1 .userImg{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 20px;
}
.boxMail .boxMail-container .card1 .userImg img{
    position: absolute;
    object-fit: cover;
    width: calc(100%);
    height: calc(100%);
}
.boxMail .boxMail-container .card1 h3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;
    transform: rotate(-5deg);
    text-shadow: 0 0 5px white,
                0 0 10px white;
}
.boxMail .boxMail-container .card2{
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: left;
}
.boxMail .boxMail-container .card2 .card2-content{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffd2e4;
    transition: all 1s;
    overflow: hidden;
}
.boxMail .boxMail-container:hover .card2-content{
    transform: translate(20px, 20px);
    box-shadow: -1px -1px 5px rgb(0, 0, 0, 0.4);
}
.boxMail .boxMail-container .card2 h3{
    font-family: 'Dancing Script', cursive;
    padding: 20px 0px 10px 60px;
    opacity: 0;
    visibility: hidden;
    font-size: 25px;
    text-shadow: 0 0 8px red;
}
.boxMail .boxMail-container .card2:hover h3{
    animation: texth3 3s forwards;
    animation-delay: 2s;
    /* transition: 1s; */
}
@keyframes texth3{
    0%{
        opacity: 1;
        visibility: visible;
        padding: 20px 0px 10px 60px;
    }
    100%{
        opacity: 1;
        visibility: visible;
        padding: 20px 0px 10px 100px; 
    }
}
.boxMail .boxMail-container .card2 h2{
    font-family: 'Dancing Script', cursive;
    padding: 0px 20px;
    text-indent: 20px;
    font-size: 17px;
    opacity: 0;
}
.boxMail .boxMail-container .card2:hover h2{
    animation: texth2 2s forwards;
    animation-delay: 4s;
    /* transition: 1s; */
}
@keyframes texth2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.boxMail .boxMail-container .card2 .card2-content .imageCute2{
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 0;
    transition: 1s;
}
.boxMail .boxMail-container .card2 .card2-content:hover .imageCute2{
    animation: cute3 1s linear infinite,
                cute4 3s 2s forwards;
    animation-delay: 2s;
    transition: 1s;
}
@keyframes cute3{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }
    25%{
        opacity: 1;
        transform: rotate(5deg);
    }
    50%{
        opacity: 1;
        transform: rotate(0deg);
    }
    75%{
        opacity: 1;
        transform: rotate(-5deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes cute4{
    0%{
        left: 20px;
    }
    100%{
        left: 50px;
    }
}
.boxMail .boxMail-container .card2 .card2-content .imageCute2 img{
    width: 40px;
}
.boxMail .fa-xmark{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    z-index: 10000000000000000;
}


span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(heart.png);
    background-size: cover;
    animation: moveheart 1s linear infinite;
}
@keyframes moveheart{
    0%{
        transform: translate(0) rotate(0deg);
    }
    100%{
        transform: translate(100px) rotate(360deg);
    }
}
